In [ ]:
## MAP

In [2]:
import pandas as pd

In [3]:
train = pd.read_csv('http://bit.ly/kaggletrain')

In [4]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
train['sex_num'] = train.Sex.map({'female': 0, 'male' : 1})

In [7]:
train.loc[0:4, ['Sex','sex_num']]

      Sex  sex_num
0    male        1
1  female        0
2  female        0
3  female        0
4    male        1

In [12]:
## apply is both a series and DF method

In [9]:
# count the length of character in name column

In [ ]:
# apply as a series method

In [10]:
train['Name_lenght'] = train.Name.apply(len)

In [11]:
train.loc[0:4, ['Name', 'Name_lenght']]

                                                Name  Name_lenght
0                            Braund, Mr. Owen Harris           23
1  Cumings, Mrs. John Bradley (Florence Briggs Th...           51
2                             Heikkinen, Miss. Laina           22
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)           44
4                           Allen, Mr. William Henry           24

In [14]:
train.Name.str.split(',').head()

0                           [Braund,  Mr. Owen Harris]
1    [Cumings,  Mrs. John Bradley (Florence Briggs ...
2                            [Heikkinen,  Miss. Laina]
3      [Futrelle,  Mrs. Jacques Heath (Lily May Peel)]
4                          [Allen,  Mr. William Henry]
Name: Name, dtype: object

In [18]:
import numpy as np

In [19]:

train.Name.str.split(',').apply(get_element, position = 0)

NameError: name 'get_element' is not defined